@import "minerva.variables";
@import "minerva.mixins";

.overlay.collection-overlay {
	font-size: .9em;
	text-align: left;
	left: 3.4em;
	right: 3.4em;
	width: auto;
	// No padding on the overlay to have the header stuck at the top, padding on
	// the content goes on .overlay-content
	padding: 0;

	.overlay-header-container .overlay-header {
		li {
			// Make the heading row normal height
			padding: 0;
			margin: 0;
		}
	}

	.overlay-content {
		// FIXME: Should this be OOJS UI / an icon?! Should use same asset.
		.background-size(auto, 40px);
		background-position: center top;
		background-repeat: no-repeat;
		.background-image('images/watchstar.svg');
		margin-top: .5em;
		padding: 4em 1em 1em;

		.snapshot {
			margin-bottom: 32px;
			border: solid 1px @grayLightest;
			padding: .3em;
			border-radius: 3px;

			.thumbnail {
				float: left;
				height: 72px;
				width: 72px;
				margin-right: 8px;

				&.missing {
					// FIXME: Duplicates work in MobileFrontend extension.
					background-position: center center;
					background-repeat: no-repeat;
					.background-image-svg-quick('images/noimage');
				}
			}

			strong {
				font-size: 1.1em;
				display: block;
			}

			hr {
				margin: 0;
				clear: both;
			}
		}

		h3 {
			clear: both;
			margin-top: 0.5em;
		}

		li,
		form {
			margin: 12px 0 0;
		}

		li {
			cursor: pointer;
			border-top: solid 1px @grayLight;
			font-size: 1.4em;
			padding: 12px 0;

			> div {
				float: right;
			}
		}

		hr {
			margin: 1em 0;
			visibility: hidden;
		}
	}

	h3 {
		margin: 32px 0 12px;
	}

	&.content-overlay {
		background: white;
		color: @grayDark;
		top: @headerHeight * 1.2;
		bottom: @headerHeight * 1.2;
		left: 2em;
		right: 2em;
		width: auto;
	}
}
