@import "minerva.variables";
@import "minerva.mixins";

@backgroundHeight: 2.8em;
@backgroundYOffset: 0.75em;
.overlay.collection-overlay {
	font-size: .9em;
	text-align: left;
	left: 3.4em;
	right: 3.4em;
	width: auto;
	overflow: hidden;
	// No padding on the overlay to have the header stuck at the top, padding on
	// the content goes on .overlay-content
	padding: 0;
	// FIXME: Override content overlay default on MoblieFrontend
	background: none;
	// FIXME: Should this be OOJS UI / an icon?! Should use same asset.
	.background-size(auto, @backgroundHeight);
	background-position: center @backgroundYOffset;
	background-repeat: no-repeat;
	.background-image('images/watchstar.svg');

	.overlay-header-container .overlay-header {
		li {
			// Make the heading row normal height
			padding: 0;
			margin: 0;
		}
	}

	@topPadding: 1em;
	.overlay-content {
		margin-top: ( @backgroundYOffset * 4) + @backgroundHeight - @topPadding;
		padding: @topPadding 1em 1em;
		overflow-y: scroll;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;

		.snapshot {
			margin-bottom: 32px;
			border: solid 1px @grayLightest;
			padding: .3em;
			border-radius: 3px;

			.thumbnail {
				float: left;
				height: 72px;
				width: 72px;
				margin-right: 8px;
				text-align: center;
				overflow: hidden;

				&.missing {
					// FIXME: Duplicates work in MobileFrontend extension.
					background-position: center center;
					background-repeat: no-repeat;
					.background-image-svg-quick('images/noimage');
				}
			}

			strong {
				font-size: 1.1em;
				display: block;
			}

			hr {
				margin: 0;
				clear: both;
			}
		}

		h3 {
			clear: both;
			margin-top: 0.5em;
		}

		li,
		form {
			margin: 12px 0 0;
		}

		// Limit size for small resolutions so fits in one line
		form {
			text-align: center;

			input {
				max-width: 150px;
			}
			button {
				margin-left: 1px;
				max-width: 80px;
			}
		}

		li {
			cursor: pointer;
			border-top: solid 1px @grayLight;
			font-size: 1.4em;
			padding: 12px 50px 12px 0;
			position: relative;

			> div {
				position: absolute;
				right: -10px;
				top: 30%;
			}
		}

		hr {
			margin: 1em 0;
			visibility: hidden;
		}
	}

	h3 {
		margin: 32px 0 12px;
	}

	&.content-overlay {
		background-color: white;
		color: @grayDark;
		top: @headerHeight * 1.2;
		bottom: @headerHeight * 1.2;
		left: 2em;
		right: 2em;
		width: auto;
		margin: auto;
		max-width: 500px;

		&.compact {
			top: 1px;
			bottom: 1px;
		}
	}
}
