@import "minerva.variables";
@import "minerva.mixins";

.overlay.collection-editor-overlay {
	.content {
		hr {
			visibility: hidden;
		}

		label {
			font-weight: bold;
		}

		.mw-ui-input {
			margin-bottom: 1em;
		}
	}
}
