@import "minerva.variables";
@import "minerva.mixins";

.overlay.collection-editor-overlay {
	.content {
		.action {
			display: block;
			margin: auto;
			text-align: center;
			width: 100%;
			max-width: 320px;
			margin-bottom: .2em;
		}

		label {
			font-weight: bold;
			// Spacing between label and input
			margin-bottom: 0.5em;
			display: block;
		}

		// Spacing between form fields
		label, .mw-ui-checkbox {
			margin-top: 2em;
		}

		.description {
			// 2 Rows. Default is 8em (4 rows)
			min-height: 4em;
		}
	}

	.panel {
		border: none;
	}
}
