@import "minerva.variables";
@import "minerva.mixins";

.content-overlay.collection-confirmation-overlay {
	font-size: .9em;
	text-align: center;
	z-index: @z-indexOverOverlay;

	&.position-fixed {
		left: 3%;
		right: 3%;
		margin: 0 auto;
		max-width: 500px;
	}

	h3 {
		padding: 0.25em;
	}

	span {
		display: block;
		padding: 0.5em;
	}

	.collection-confirm-actions {
		padding: 0.5em;
	}

	// FIXME: no need for this selector, merge the contents with the above rules
	&.content-overlay {
		background-color: white;
		top: @headerHeight * 1.2;
		color: @grayDark;
		width: auto;
	}
}