<div class='collections-list content view-border-box' data-owner="{{owner}}"
  data-is-owner='{{{isOwner}}}' data-mode='{{mode}}'>
  <div class='collection-cards'>
    {{{items}}}
  </div>
  <div class='collection-actions'></div>
</div>
