<div class="content-header">
	<ul class="button-bar mw-ui-button-group">
		{{#tabs}}<li class="mw-ui-button {{#isCurrentTab}}mw-ui-progressive{{/isCurrentTab}}">
			<a href="{{href}}">{{label}}</a></li>{{/tabs}}
	</ul>
</div>