@import "mediawiki.mixins.less";
@import "minerva.variables.less";
@import "minerva.mixins.less";

.view-border-box,
.collection {
	* {
		.box-sizing(border-box);
	}
}

.collection-item {
	h2 {
		border-bottom: none;
	}
}

// FIXME: Edit and delete buttons are currently broken:
// https://phabricator.wikimedia.org/T94063
.collection .collection-header .collection-actions.visible {
	display: none;
}

@media all and (min-width: 1000px) {
	.collection {
		.collection-header {
			text-align: left;
			padding-left: 0;
		}
	}
}
